
project_id = "qaqebpcqespvzbfwawlp"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322
shadow_port = 54320
major_version = 15

[realtime]
enabled = true

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true

[auth]
enabled = true
site_url = "http://localhost:3000"

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[analytics]
enabled = false
port = 54327
vector_port = 54328

[functions.run-token-scan]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false

[functions.hubspot-sync]
verify_jwt = true

[functions.test-scan]
verify_jwt = false

[functions.debug-api-health]
verify_jwt = false
